<nb-layout>
  <nb-layout-header fixed>Dev API Butler</nb-layout-header>
  <nb-layout-column>
    <button nbButton (click)="clearCache()">Clear cache</button>
    <button nbButton (click)="refreshCachedEntries()">Refresh Cached entries</button>

    <nb-card>
      <nb-card-header>
        Cached entries
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let cacheEntry of cachedEntries">
          {{ cacheEntry.url }} <button nbButton (click)="removeEntry(cacheEntry)">remove</button>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>
</nb-layout>